<form id="form" onsubmit="processEvent(event, 'search')">
  <input type="search" placeholder="Pesquisar..." />
</form>

<a href="?page=Home" class="btn btn-return"> Voltar </a>

<a href="?page=People&cb=goToCreatePersonPage" class="btn btn-add">
  Cadastrar
</a>

{% for person in people %}
<li class="person-item" data-id="{{ person.id }}">
  <span><strong>{{ person.name }}</strong> - {{ person.cpf }}</span>
  <div class="buttons">
    <button onclick="processEvent(event, 'edit')" class="btn btn-edit">
      Editar
    </button>
    <button onclick="processEvent(event, 'delete')" class="btn btn-delete">
      Excluir
    </button>
  </div>
</li>
{% endfor %}
