body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-return {
  background-color: #3498db;
}

.btn-add {
  background-color: #2ecc71;
}

.contact-item {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-item span {
  flex-grow: 1;
}

.buttons {
  display: flex;
}

.btn-edit {
  margin-left: 10px;
  background-color: orange;
}

.btn-delete {
  margin-left: 10px;
  background-color: #e74c3c;
}

input[type="search"] {
  width: 350px;
  padding: 8px 20px 8px 45px;
  border: #fff solid 2px;
  font-size: 18px;
  border-radius: 25px;
  background-color: transparent;
  background-position: 2% 50%;
  background-repeat: no-repeat;
  background-size: 30px;
}
