<h1>Cadastrar contato</h1>
<div class="form-container">
  <form id="form">
    <div class="form-group">
      <label for="type">Tipo:</label>
      <input type="text" id="type" name="type" required />
    </div>
    <div class="form-group">
      <label for="description">Descrição:</label>
      <input type="text" id="description" name="description" required />
    </div>
    <a href="?page=Contacts" class="btn btn-return"> Voltar </a>
    <button type="button" onclick="submitForm()">Cadastrar contato</button>
  </form>
</div>
