<form id="form" onsubmit="processEvent(event, 'search')">
  <input type="search" placeholder="Pesquisar..." />
</form>

<a href="/?page=Home" class="btn btn-return"> Voltar </a>

<a href="/?page=Contacts&cb=goToCreateContactPage" class="btn btn-add">
  Cadastrar
</a>

{% for contact in contacts %}
<li class="contact-item" data-id="{{ contact.id }}">
  <span>
    {{ contact.description }} -
    <strong>Id do dono:</strong>
    {{ contact.idPerson }}
    <strong>Tipo:</strong>
    {% if contact.type == 0 %} Telefone {% else %} Email {% endif %}
  </span>
  <div class="buttons">
    <button onclick="processEvent(event, 'edit')" class="btn btn-edit">
      Editar
    </button>
    <button onclick="processEvent(event, 'delete')" class="btn btn-delete">
      Excluir
    </button>
  </div>
</li>
{% endfor %}
